h1{
    padding: 25px;
    text-align: center;
    font-style: italic;
    color: deeppink;
    font-size: 50px;
}

h2{
    padding: 70px;
    font-size: 30px;
    text-align: center;
    font-style: bold;
    color:gray;
}
img{
    width: 615px;
    height: 400px;
    image-resolution: 20px;
    margin: auto;
    border-radius:10px; color: solid deeppink
    

}


h3{
    text-align: center;
    color: deeppink;
}

body{
    background-color: hotpink;
}